<div id="<%= dom_id fornecedores_endereco %>">
  <p>
    <strong>Logradouro:</strong>
    <%= fornecedores_endereco.endereco.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= fornecedores_endereco.endereco.numero %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= fornecedores_endereco.endereco.cep %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= fornecedores_endereco.endereco.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= fornecedores_endereco.endereco.estado %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= fornecedores_endereco.endereco.complemento %>
  </p>

</div>
